body {
  background-color: #f2f2f3;
}

h1 {
  margin-top: 0;
  color: #a4a4a6;
}

h2 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

img {
  float: left;
  height: auto;
  width: 40%;
  max-width: 180px;
  max-height: 240px;
  margin-right: 20px;
  box-shadow: 2px 3px 3px 0px #0000003b;
  margin-top: -30px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 0;
}

li.book-card {
  list-style: none;
  width: 40%;
  height: 230px;
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  text-align: left;
  box-shadow: 2px 3px 3px 0px #0000003b;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #550024;
  color: #fff;
  border: none;
  border-radius: 5px;
}

input {
  padding: 10px;
  background-color: #550024;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  border: 1px solid #550024;
}

input#booksearch {
  width: 50vw;
  background-color: #fff;
  border: 1px solid #550024;
  color: black;
}

label {
  display: none;
}

button:hover,
input:hover {
  background-color: #870d4c;
  cursor: pointer;
}

.invalid-input {
  margin-top: -20px;
  margin-bottom: 25px;
  color: red;
}

@media screen and (max-width: 600px) {
  li.book-card {
    width: 85%;
    margin: 10px;
    height: auto;
  }

  img {
    margin-top: -30px;
    margin-bottom: 10px;
  }
}
